<!DOCTYPE html>
<html lang="en">

<head>

    <% include template/header-admin.ejs %>
    <% include template/css.ejs %>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%include template/sidebarAdmin.ejs%>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) 
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

           Topbar Search
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>-->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS)
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
               Dropdown - Messages
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li> -->




            <div class="topbar-divider d-none d-sm-block"></div>

            <% include template/user-infomation.ejs %>


          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Quản lý bài đăng</h1>

          <% if (userInfo[0].userClass == 2) { %>
          <a href="/admin/write-post" class="btn btn-primary btn-icon-split mr-4">
            <span class="icon text-white  ">
              <i class="fa fa-plus"></i>
            </span>
            <span class="text">Thêm bài đăng</span>
          </a>
          </a>
          <% } %>
          <!-- <a href="#" class="btn btn-danger btn-icon-split mr-4">
            <span class="icon text-white  ">
              <i class="fa fa-trash"></i>
            </span>
            <span class="text">Xóa bài</span>
          </a> -->
          <!-- <a href="#" class="btn btn-success btn-icon-split mr-4">
            <span class="icon text-white  ">
              <i class="fa fa-upload"></i>
            </span>
            <span class="text">Publish</span>
          </a> -->
            <button class="btn btn-warning btn-icon-split mr-4" style="width: 300px" onclick="sortTable(6)">
                <span class="icon text-white">
                  <i class="fa fa-sort"></i>
                </span>
                <span class="text text-white">Gom nhóm theo tình trạng</span>
            </button>
          <!-- DataTales Users -->
          <%
            var curClass = userInfo[0].userClass;
            var temp = [];
            if (curClass == 2)
            {
              for (var i = 0; i < allPosts.length; i++)
              {
                if (allPosts[i].authorId == userInfo[0].id)
                {
                  temp.push(allPosts[i]);
                }
              }
            }
            else
            {
              for (var i = 0; i < allPosts.length; i++)
              {
                temp.push(allPosts[i]);
              }
            }
          %>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách bài đăng</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tiêu đề</th>
                      <th>Chuyên mục</th>
                      <th >Tác giả</th>
                      <th>Ngày đăng
                      <th style="max-width: 100px">Tình trạng</th>
                      <th style="max-width: 50px">Thao tác </th>
                    </tr>
                  </thead>
                <tbody>
                    <% temp.forEach(function(post) {%>
                    <tr>
                        <td><%=post.id%></td>
                        <td><%=post.title%></td>
                        <td><%=post.categoryName%>-<%=post.subCategoryName%></td>
                        <td><%=post.fullname%></td>
                        <td><%=post.publishDate%></td>
                        <%if (post.approval == 1) {%>
                        <td>Đã duyệt</td>
                        <%}%>
                        <%if (post.approval != 1) {%>
                            <td>Chờ duyệt</td>
                        <%}%>
                        <!-- Writer -->
                        <% if (userInfo[0].userClass == 2) { %>
                        <td>
                          <form action="/admin/del-post" method="POST" >
                            <button class="btn btn-danger" style="max-height: 30px; max-width: 30px;"><i class="fa fa-trash"></i></button>
                            <input type="text" name="postID" value="<%=post.id%>" style="visibility: collapse; display: none">
                          </form>
                          <%if (post.approval != 1) {%>
                          <form action="/admin/edit-post" method="GET">
                            <button class="btn btn-primary" style="max-height: 30px; max-width: 30px"><i class="fa fa-pencil"></i></button> 
                            <input type="text" name="postID" value="<%=post.id%>" style="visibility: collapse; display: none">
                          </form>
                          <%}%>          
                        </td>
                        <% } %>
                        <!-- Editor -->
                        <% if (userInfo[0].userClass == 3) { %>
                          <td>
                            <button class="btn btn-success" style="max-height: 30px; max-width: 30px;"><i class="fa fa-check"></i></button>
                          </td>
                        <% } %>
                        <!-- Admin -->
                        <% if (userInfo[0].userClass == 4) { %>
                        <td style="display: inline-block; width: 100%">
                          <%if (post.approval != 1) {%>
                          <form action="/admin/aprrove-post" method="POST" style="display: inline-block">
                            <button class="btn btn-success" style="max-height: 30px; max-width: 30px;"><i class="fa fa-check"></i></button>
                            <input type="text" name="postID" value="<%=post.id%>" style="visibility: collapse; display: none">
                          </form>
                          <%}%>
                          <%if (post.approval == 1) {%>
                          <form action="/admin/disapprove-post" method="POST" style="display: inline-block">
                            <button class="btn btn-danger" style="max-height: 30px; max-width: 30px;"><i class="fa fa-times"></i></button>
                            <input type="text" name="postID" value="<%=post.id%>" style="visibility: collapse; display: none">
                          </form>
                          <%}%>
                          <form action="/admin/del-post" method="POST" style="display: inline-block">
                            <button class="btn btn-danger" style="max-height: 30px; max-width: 30px;"><i class="fa fa-trash"></i></button>
                            <input type="text" name="postID" value="<%=post.id%>" style="visibility: collapse; display: none">
                          </form>
                        </td>
                        <% } %>
                    </tr>
                    <%})%>
                </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <% include template/logout-modal.ejs %>

<% include template/footer-admin.ejs %>
<% include template/js.ejs %>

</body>
<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("dataTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc"; 
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++; 
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
</html>
