<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Magazine</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<%include template/css.ejs %>
	</head>
	<body>
        <%include template/header2.ejs %>
        <section class="latest-post-area pb-120">
                <div class="container no-padding">
                        <div class="row">
                                <div class="col-lg-8 post-list">
                                        <div class="latest-post-wrap">
                                            <h4 class="cat-title">Kết quả tìm kiếm cho " <%=timkiem%> "</h4>
                                            <% if (isLogin) {
                                            searchResult.forEach(function(post){
                                                if(post.premium == true){%>
                                                <div class="single-latest-post row align-items-center">
                                                    <div class="col-lg-5 post-left">
                                                        <div class="feature-img relative">
                                                            <div class="overlay overlay-bg"></div>
                                                            <img class="img-fluid" src="<%=post.imgLink %>" alt="">
                                                        </div>
                                                        <ul class="tags">
                                                            <li><a href="/news/<%=post.categoryName %>/<%=post.subcategoryName %>"><%=post.categoryName %> - <%=post.subcategoryName %></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-7 post-right">
                                                        <a href="/news/<%=post.categoryName %>/<%=post.subcategoryName %>/<%=post.title %>">
                                                            <h4><%=post.title %></h4>
                                                            <sup style = "color: red">PREMIUM</sup>
                                                        </a>
                                                        <ul class="meta">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-pencil"></i> <%=post.fullname %></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-calendar"></i> <%=post.publishDate %></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i> <%=post.views %> Views</a>
                                                            </li>
                                                        </ul>
                                                        <p class="excert">
                                                            <%=post.postExcerpt %>
                                                        </p>
                                                    </div>
                                                </div>
                                            <% }})}%>
                                            <%searchResult.forEach(function(post){
                                                if(post.premium == false){%>
                                                <div class="single-latest-post row align-items-center">
                                                    <div class="col-lg-5 post-left">
                                                        <div class="feature-img relative">
                                                            <div class="overlay overlay-bg"></div>
                                                            <img class="img-fluid" src="<%=post.imgLink %>" alt="">
                                                        </div>
                                                        <ul class="tags">
                                                            <li><a href="/news/<%=post.categoryName %>/<%=post.subcategoryName %>"><%=post.categoryName %> - <%=post.subcategoryName %></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-7 post-right">
                                                        <a href="/news/<%=post.categoryName %>/<%=post.subcategoryName %>/<%=post.title %>">
                                                            <h4><%=post.title %></h4>
                                                        </a>
                                                        <ul class="meta">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-pencil"></i> <%=post.fullname %></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-calendar"></i> <%=post.publishDate %></a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-eye"></i> <%=post.views %> Views</a>
                                                            </li>
                                                        </ul>
                                                        <p class="excert">
                                                            <%=post.postExcerpt %>
                                                        </p>
                                                    </div>
                                                </div>
                                            <% }})%>
                                        </div>
                                    </div>
                        </div>
                </div>
        </section>
        
        
    
        <%include template/footer.ejs%>
		<%include template/js.ejs %>
	</body>
</html>