<!DOCTYPE html>
<html lang="en">

<head>
    <% include template/header-admin.ejs%>
    <% include template/css.ejs%>
    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%include template/sidebarAdmin.ejs%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - Alerts -->


                        <!-- Nav Item - Messages -->


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <% include template/user-infomation.ejs %>


                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Thông tin người dùng</h1>
                    <h1 class="h3 mb-4 text-gray-800">Username: <%= userInfo[0].username %></h1>
                </div>
                <!-- /.container-fluid -->
                <div class="row">
                    <div class="p-5 col-lg-6">

                        <form class="user" method="POST" action="/admin/user-updated">

                            <div class="form-group" style="display: none;">
                                    <label for="">ID:</label>
    
                                    <input type="text" class="form-control form-control-user" id="userId" name="userId" value="<%= userInfo[0].id %>">
                                </div>

                            <div class="form-group" style="display: none;">
                                <label for="">Tên đăng nhập:</label>

                                <input type="text" class="form-control form-control-user" id="username" name="username" value="<%= userInfo[0].username %>">
                            </div>
                            <div class="form-group">
                                <label for="">Họ tên</label>

                                <input type="text" class="form-control form-control-user" id="fullname" name ="fullname" value="<%= userInfo[0].fullname %>">
                            </div>

                            <div class="form-group">
                                <label for="">Phân hệ</label>
                                <select name="userClass" style="max-width:100%" multiple>
                                    <% if (userInfo[0].userClass == 1) { %>
                                        <option value="<%= 1 %>" selected="selected">Độc giả</option>
                                        <option value="<%= 2 %>">Phóng viên</option>
                                        <option value="<%= 3 %>">Biên tập viên</option>
                                        <option value="<%= 4 %>">Quản trị viên</option>
                                    <% } %>

                                    <% if (userInfo[0].userClass == 2) { %>
                                        <option value="<%= 1 %>">Độc giả</option>
                                        <option value="<%= 2 %>" selected="selected">Phóng viên</option>
                                        <option value="<%= 3 %>">Biên tập viên</option>
                                        <option value="<%= 4 %>">Quản trị viên</option>
                                    <% } %>

                                    <% if (userInfo[0].userClass == 3) { %>
                                        <option value="<%= 1 %>">Độc giả</option>
                                        <option value="<%= 2 %>">Phóng viên</option>
                                        <option value="<%= 3 %>" selected="selected">Biên tập viên</option>
                                        <option value="<%= 4 %>">Quản trị viên</option>
                                    <% } %>

                                    <% if (userInfo[0].userClass == 4) { %>
                                        <option value="<%= 1 %>">Độc giả</option>
                                        <option value="<%= 2 %>">Phóng viên</option>
                                        <option value="<%= 3 %>">Biên tập viên</option>
                                        <option value="<%= 4 %>" selected="selected">Quản trị viên</option>
                                    <% } %>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="">Email</label>

                                <input type="text" class="form-control form-control-user" id="email" name="email" value="<%= userInfo[0].email %>">
                            </div>
                            <div class="form-group">
                                <label for="">Ngày sinh</label>

                                <input type="text" class="form-control form-control-user" id="updateDobUserPicker" name="updateDobUserPicker" value="<%= userInfo[0].dob %>">
                            </div>
                            
                            <button type="submit" class="btn">
                                <a class="btn btn-success btn-user btn-block">
                                    SAVE
                                </a>
                            </button>

                            <button class="btn">
                                <a href="/admin/users-table" class="btn btn-primary btn-user btn-block">
                                BACK
                                </a>
                            </button>
                        </form>


                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <!-- <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div> -->
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <% include template/logout-modal.ejs %>

    <!-- Bootstrap core JavaScript-->
    <% include template/footer-admin.ejs%>
    <% include template/js.ejs%>
</body>

</html>
