<!DOCTYPE html>
<html lang="en">

<head>

  <% include template/header-admin.ejs%>
  <% include template/css.ejs %>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%include template/sidebarAdmin.ejs%>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            



            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <% include template/user-infomation.ejs %>


          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Quản lý người dùng</h1>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <button class="btn btn-primary btn-icon-split mr-4" style="width: 300px" onclick="sortTable(1)">
                <span class="icon text-white">
                  <i class="fa fa-pencil"></i>
                </span>
                <span class="text text-white">Theo Username</span>
            </button>

            <button class="btn btn-primary btn-icon-split mr-4" style="width: 300px" onclick="sortTable(2)">
                <span class="icon text-white">
                  <i class="fa fa-pencil"></i>
                </span>
                <span class="text text-white">Theo Fullname</span>
            </button>

            <button class="btn btn-primary btn-icon-split mr-4" style="width: 300px" onclick="sortTable(3)">
                <span class="icon text-white">
                  <i class="fa fa-pencil"></i>
                </span>
                <span class="text text-white">Theo Role</span>
            </button>
          
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables,
            please visit the
            <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Users -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng hiện tại</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Full name</th>
                      <th>Role</th>
                      <th>Day of Birth</th>
                      <th>Email</th>
                      <th>Deleted</th>
                      <th>Thao tác </th>

                    </tr>
                  </thead>
                  <tbody>
                    <% listUsers.forEach(function(user) { %>

                    <tr>
                      <td><%= user.id %></td>
                      <td ><%= user.username %></td>
                      <td style="max-width: 150px"><%= user.fullname %></td>

                      <% if (user.userClass == 1) { %>
                      <td>Đọc giả</td>
                      <% } %>
                      <% if (user.userClass == 2) { %>
                        <td>Phóng viên</td>
                      <% } %>
                      <% if (user.userClass == 3) { %>
                        <td>Biên tập viên</td>
                      <% } %>
                      <% if (user.userClass == 4) { %>
                        <td>Quản trị viên</td>
                      <% } %>

                      <td><%= user.dabirthday %></td>
                      <td style="max-width: 130px"><%= user.email %></td>

                      <% if (user.isDelete == 1) { %>
                        <td style="max-width: 100px">
                          <form>
                            <button class="btn btn-primary" ><i>Recover</i></button> 
                            <input type="text" name="postID" value="<%=user.id%>" style="visibility: collapse; display: none">
                          </form>
                        </td>
                      <% } %>
                      <% if (user.isDelete == 0) { %>
                        <td>Available</td>
                      <% } %>

                      <td style="width: 150px">
                          <form method="POST" action="/admin/update-user">
                            <button class="btn btn-success" style="width: 40px"><i class="fa fa-pencil"></i></button>
                            <input type="text" name="action" value="<%=user.id%>" style="visibility: collapse; display: none; width: 40px">
                            <% if (user.isDelete == 0) { %>
                            <button class="btn btn-danger" style="width: 40px"><i class="fa fa-trash"></i></button>
                            <input type="text" name="action" value="<%=user.id%>" style="visibility: collapse; display: none">
                            <% } %>
                          </form>

                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <!-- Modal content -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal Add new User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="POST", action=""></form>
                <fieldset>

                  <!-- Form Name -->
                  <legend>Add New User</legend>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Name</label>
                    <div class="col-sm-10">
                      <input type="text" placeholder="" class="form-control">
                    </div>
                  </div>
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Address</label>
                    <div class="col-sm-10">
                      <input type="text" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Gender</label>
                    <div class="col-sm-10">
                        <select class="custom-select" id="inputGroupSelect01">
                
                            <option selected value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Another">Another</option>
              
    
                          </select>
                    </div>
                  </div>
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Roles</label>
                    <div class="col-sm-10">
                      <select class="custom-select" id="inputGroupSelect01">

                        <option  value="Admin">Admin</option>
                        <option value="Subcriber">Subcriber</option>
                        <option value="Writer">Writer</option>
                        <option selected value="3">Editor</option>

                      </select>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <!-- <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div> -->
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <% include template/logout-modal.ejs %>

    <% include template/footer-admin.ejs%>
    <% include template/js.ejs %>

</body>

</html>